.header {
    background-color: rgba(251,248,239,1);
    color: black;
    text-align: center;
    padding: 10px 0;
  }

  .qrMenu {
    display: inline-block;
    margin-right: 10px;
    font-family: 'Poppins', sans-serif; font-weight: bold;
  }

  nav {
    background-color: #f4f4f4;
    padding: 10px 0;
    text-align: center;
  }

  nav a {
    display: inline-block;
    margin: 0 10px;
    color: #333;
    text-decoration: none;
    font-family: 'Poppins', sans-serif; font-weight: medium; color: rgba(164,129,53,1)
  }

  nav a:hover {
    text-decoration: underline;
  }