/*add simple css for this page*/
.container {
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 768px) {
    .kunefeSection {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .baklavaSection {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .kadayifSection {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .iceceklerSection {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}